.footer-title {
  background-color: black;
  h2,
  h5,
  .social-icons,
  .fab {
    gap: 32px;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    animation-name: fade-in-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
}
.quick-links-head {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  animation-name: fade-in-up;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.quick-links {
  color: white;
  li {
    font-size: 10px;
    list-style: none;
    color: white;
  }
}
