.about-title {
  display: flex;
  justify-content: space-around;
  background-image: url(/images/about_us.jpg);
  background-size: cover;
  background-position: top;
  height: 250px;
}
.about-title h2 {
  margin: 0 auto;
  align-content: center;
  font-size: 50px;
}

.about-content-title h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.about-content-title p {
  padding: 10px;
}

.our-services {
  display: flex;
  justify-content: space-evenly;
}
.our-services img {
  width: 60px;
  height: 60px;
}

.our-services-title {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.our-services-para {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 100px;
  padding: 0px 137px;
}

@media (max-width: 500px) {
  .our-services-para {
    gap: 30px;
    padding: 10px;
  }
  .about-title h2 {
    font-size: 35px;
  }
}
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 50px;
  flex-direction: row;
}

#contact .container .contact-info p a {
  text-decoration: none;
  color: rgb(75, 73, 73);
}

.contact-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: fade-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.contact-info h2 {
  color: rgb(75, 73, 73);
  font-size: 30px;
}

.contact-form form input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.7);
}

.contact-form form textarea {
  width: 90%;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.7);
}

.contact-form th {
  color: rgb(144, 92, 92);
  color: #000000;
  font-size: 25px;
}

.contact-form td {
  padding: 10px 0;
}

.contact-info p {
  color: rgba(119, 78, 78, 0.7);
}

.container {
  border-radius: 5px;
}

.contact-form {
  width: 40%;
  height: auto;
  padding-bottom: 30px;
}

.contact-form {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  background-image: linear-gradient(370deg, rgba(104, 183, 220, 0.8), #fff);
  box-shadow: 0px 9px 11px 4px rgba(0, 0, 0, 0.7);
  animation-name: fade-in-right;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.victory {
  width: auto;
  height: 20px;
}

.contact-form form table {
  width: 100%;
}

.contact-form form {
  width: 80%;
}

.submitbtn {
  background-color: rgba(138, 138, 238, 0.8);
  color: #fff;
  border: 0px;
  border-radius: 10px;
  height: 35px;
  padding: 0 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.7);
  left: 32%;
  position: relative;
}

.submitbtn:hover {
  background-color: rgb(0, 183, 255);
  color: rgb(117, 234, 136);
}

@media screen and (max-width: 500px) {
  .contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
    animation-name: fade-in-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
}
.container {
  flex-direction: column;
  width: 100%;
}

.contact-info {
  width: 100%;
  animation-name: fade-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.product {
  padding-top: 30px;
}

.row-working {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  justify-content: space-evenly;
}

.row-2 {
  display: flex;
  justify-content: space-evenly;
}

.col-1-of-3 {
  display: block;
  margin-bottom: 1.5rem;
  position: relative;
  animation-name: fade-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.col-1-of-3 img {
  width: 20em;
  height: auto;
  display: block;
  border-radius: 8px;
  border: 2px solid black;
}

.col-2-of-3 {
  display: block;
  margin-bottom: 1.5rem;
  position: relative;
  animation-name: fade-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.col-2-of-3 img {
  width: 20em;
  height: auto;
  border-radius: 8px;
  border: 2px solid black;
}

.elemter-button-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  display: block;
  top: 70%;
  left: 28%;
}

.elemter-button-link:hover {
  transform: translateY(-8px);
}

.elemter-button-link .elementor-button-text {
  background-color: red;
  padding: 7px 15px 7px 15px;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px 4px 4px 4px;
}

.elemter-button-name {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  display: block;
  top: 50%;
  left: 12%;
}

.elemter-button-name .elementor-button-text {
  padding: 7px 15px 7px 15px;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px 4px 4px 4px;
  background-color: white;
}

@media (max-width: 500px) {
  .row-1 {
    flex-direction: column;
    align-items: center;
  }
  .row-2 {
    flex-direction: column;
    align-items: center;
  }
}
* {
  width: auto;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  margin: auto;
  font-family: "Oxanium", sans-serif;
}

.hot-deals {
  display: flex;
  justify-content: space-between;
}
.hot-deals .left {
  align-content: center;
  margin: 0 auto;
}
.hot-deals .left h2 {
  color: rgb(45, 95, 95);
  font-size: 30px;
  margin: 20px 0;
}
.hot-deals .left p {
  color: rgb(123, 170, 170);
  font-size: 20px;
  margin: 20px 0;
}
.hot-deals .left button {
  padding: 5px;
  color: rgb(0, 0, 0);
}

.products-feature {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(242, 241, 241);
}
.products-feature img {
  width: 400px;
  height: 400px;
}
.products-feature .product-left {
  display: flex;
}
.products-feature .product-left h5 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 10px;
  gap: 1rem;
}
.products-feature img {
  border: 2px solid black;
}
.products-feature button {
  height: 20px;
  color: rgb(0, 0, 0);
}
.products-feature .product-right {
  display: flex;
}
.products-feature .product-right h5 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  margin: auto 10px;
  gap: 1rem;
}
.products-feature img {
  border: 2px solid black;
}
.products-feature button {
  height: 20px;
}
.products-feature button a {
  text-decoration: none;
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

@media (max-width: 500px) {
  .hot-deals {
    display: block;
    padding: 25px;
  }
  .hot-deals .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hot-deals img {
    width: 100%;
    padding: 10px;
  }
  .products-feature {
    display: block;
  }
  .products-feature .product-left {
    padding: 5px 25px;
    display: block;
  }
  .products-feature .product-right {
    display: block;
    padding: 5px 25px;
  }
  .products-feature img {
    width: 300px;
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */